{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
    <h3>Liste des entreprises</h3>
</div>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <tr>
            <th>
                Entreprise
            </th>
            <th>
                Activité
            </th>
        </tr>
    </thead>
    {% for entrepriseCourante in entreprises %}
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>
                        <a href="{{path('entreprises_stages',{id:entrepriseCourante.id})}}">{{entrepriseCourante.nom}}</a>
                    </li>
                </ul>
            </td>
            <td>
                {{entrepriseCourante.activite}}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endblock %}
