{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
    <h3>Derniers ajouts</h3>
    {% endblock %}
    {% block contenu %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Entreprise
                </th>
                <th>
                    Formation
                </th>
                <th>
                    Mission
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>
                            <a href="{{path('stages',{id:5})}}">Stages 1</a>
                        </li>
                    </ul>
                </td>
                <td>
                    BLAbla
                </td>
                <td>
                    DUT
                </td>
                <td>
                    BLAvlallafqfezfez
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <a href="{{path('stages',{id:754})}}">Stages 2</a>
                        </li>
                    </ul>
                </td>
                <td>
                    BLekfdofpdog
                </td>
                <td>
                    Lp pro
                </td>
                <td>
                    dfdsgdfhfdvdfbsdbgbvsngsrhsgrnrn
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <a href="{{path('stages',{id:84})}}">Stages 3</a>
                        </li>
                    </ul>
                </td>
                <td>
                    fbfsngfjhhrgqjtyky
                </td>
                <td>
                    Lp Num
                </td>
                <td>
                    frebefgbdfhghrefjihjerfdsojepogjreipvjhiptr
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}
