{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
    <h3>Cette page affichera la liste des formations de l'IUT" au sein d'un titre de niveau</h3>
</div>
{% endblock %}
