{% extends 'base.html.twig' %}

{% block titreContenu %}Editer une formation{% endblock %}

{% block contenu %}

    {{ include('formations_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formations_c_r_u_d_index') }}">Retour à la liste des formations</a>

    {{ include('formations_crud/_delete_form.html.twig') }}
{% endblock %}
